body {
  padding: 0;
  margin: 0; }

header {
  background: #787878;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px; }

.header-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 770px; }
  .header-menu li {
    display: inline-block;
    position: relative;
    margin-left: 25px; }
    .header-menu li a {
      text-decoration: none;
      color: #fff;
      letter-spacing: 1px;
      font-size: 24px; }
  .header-menu li:after {
    content: "|";
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: -3px;
    left: -15px; }
  .header-menu li:nth-child(1) {
    margin-left: 0; }
  .header-menu li:nth-child(1):after {
    display: none; }
  .header-menu li:hover a {
    border-bottom: 1px solid #fff; }

#slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 9999%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0; }

#slider ul li {
  position: relative;
  height: 100%;
  width: calc(100vw - 17px);
  float: left; }

#slider ul li img {
  width: 100%;
  height: 100%; }

#slider #prev, #slider #next {
  font-weight: bold;
  width: 30px;
  line-height: 40px;
  padding-bottom: 5px;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  text-decoration: none;
  z-index: 999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 150ms ease; }

#slider #prev:hover, #slider #next:hover {
  background-color: #CFCFCF;
  text-shadow: 0; }

#slider #prev {
  left: 40px; }

#slider #next {
  right: 40px; }

.slider {
  height: 400px;
  width: 100%;
  background: #F8F8F8;
  position: relative; }

.slider-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  position: relative; }

.slider-digit {
  z-index: 99; }
  .slider-digit h1 {
    font-size: 120px;
    color: #CDCDCD;
    margin-bottom: 0;
    -webkit-text-stroke: 1px #000; }

.slider-ball-1, .slider-ball-2, .slider-ball-3, .slider-ball-4, .slider-ball-5, .slider-ball-6 {
  border-radius: 50%;
  position: absolute; }

.slider-ball-1 {
  background-color: #B4B9EF;
  height: 300px;
  width: 300px;
  top: 140px;
  left: 90px;
  z-index: 1; }

.slider-ball-2 {
  background-color: #FDD1B6;
  height: 300px;
  width: 300px;
  top: 65px;
  left: 450px;
  z-index: 1; }

.slider-ball-3 {
  background-color: #BFD1B6;
  height: 170px;
  width: 170px;
  top: 65px;
  left: 310px;
  opacity: 0.7;
  z-index: 2; }

.slider-ball-4 {
  background-color: #B4B9EF;
  height: 230px;
  width: 230px;
  top: 65px;
  right: 240px;
  z-index: 2;
  opacity: 0.7; }

.slider-ball-5 {
  background-color: #FDD1B6;
  height: 300px;
  width: 300px;
  top: -60px;
  right: -10px;
  opacity: 1;
  z-index: 1; }

.slider-ball-6 {
  background-color: #BFD1B6;
  height: 170px;
  width: 170px;
  top: 185px;
  right: -15px;
  opacity: 0.7;
  z-index: 2; }

.navigation-bar {
  padding: 10px 0; }
  .navigation-bar ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .navigation-bar ul li {
      display: inline-block;
      position: relative;
      margin-right: 20px; }
    .navigation-bar ul li:after {
      content: "/";
      position: absolute;
      top: 0;
      right: -10px; }

.outer-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .outer-list li {
    font-size: 18px;
    color: #7D7D7D;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none; }
    .outer-list li a {
      text-decoration: none;
      color: #7D7D7D; }
  .outer-list .under {
    text-decoration: underline;
    color: #111; }
  .outer-list .inactive {
    text-decoration: none;
    color: #7D7D7D; }

.nestedList {
  display: none;
  list-style-type: disc; }
  .nestedList li {
    font-size: 14px; }
  .nestedList li:active {
    color: #222;
    text-decoration: none; }
  .nestedList li:hover {
    color: #222;
    text-decoration: underline; }

.feedback {
  margin-top: 60px; }
  .feedback a {
    color: #7D7D7D;
    text-decoration: none;
    border-bottom: 1px dashed #7D7D7D;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px; }

.catalog-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.catalog-item {
  width: 250px;
  padding: 20px;
  background: #DCDCDC;
  margin: 10px; }
  .catalog-item img {
    margin-bottom: 10px; }
  .catalog-item p {
    color: #7D7D7D; }
  .catalog-item .catalog-item-description {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .catalog-item .catalog-item-description p {
      font-size: 22px;
      font-weight: 600;
      color: #111;
      margin-bottom: 0; }

.catalog-item:hover {
  transform: scale(1.02); }

.page-navigation {
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0; }
  .page-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; }
    .page-navigation ul li {
      display: inline-block; }
      .page-navigation ul li a {
        text-decoration: none;
        color: #7D7D7D;
        display: block;
        width: 25px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 24px; }
      .page-navigation ul li a:hover {
        font-size: 17px;
        color: #111;
        line-height: 24px; }

.feedback-section {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 50px; }

#feedbackForm {
  height: 600px; }

.feedback-close {
  position: absolute;
  background: #777777;
  height: 30px;
  width: 30px;
  top: -30px;
  right: -30px; }
  .feedback-close a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    height: 30px;
    margin-top: -5px;
    text-align: center; }

.feedback-container {
  position: relative;
  background: #fff;
  width: 420px; }
  .feedback-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 70px; }
    .feedback-container form h2 {
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: -0.5px;
      font-weight: 700;
      margin-bottom: 25px; }
    .feedback-container form label {
      font-size: 13px; }
    .feedback-container form textarea {
      height: 150px;
      resize: none; }
    .feedback-container form input {
      height: 40px; }
    .feedback-container form input, .feedback-container form textarea {
      outline: none;
      margin-bottom: 15px;
      border: 1px solid #777777;
      padding-left: 10px; }
    .feedback-container form button {
      width: 125px;
      background: #777777;
      text-transform: uppercase;
      color: #fff;
      border: none;
      font-weight: 500;
      height: 40px;
      cursor: pointer;
      padding: 0;
      margin-bottom: 0; }
    .feedback-container form button:hover {
      background: #888888; }
    .feedback-container form .wrong {
      box-shadow: inset 0 0 10px red; }
  .feedback-container form * {
    width: 100%; }

input::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
