/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.services_container{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;		
	}

	.services_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
	    margin-bottom: 30px;		
	}

	.team_container{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;		
	}	

	.team_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 35%;
		flex: 0 0 35%;
	    margin-bottom: 15px;
	}

	.hire_us{
		width: 60%;
	}

	.sb {
		left: 20%;
	}

	.header_buttons{
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.header_buttons a{
		margin-top: 30px;
	}

}

@media only screen and (max-width : 768px) {

	.section_header h2{
		font-size: 22px;
	}

	.section_header p{
		font-size: 13px;
	}

	.clients_wrapper p{
		font-size: 13px;
	}


	.team_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
	}

	.header_content{
		width: 70%;
		margin-left: 15%;
	}

	.hire_us{
		width: 80%;
	}

	.sb{
		left: 10%;
	}

	.services_item h5{
		margin-bottom: 10px;
	}

}

@media only screen and (max-width : 576px) {

	.header-content{
		margin-top: 50px;
	}

	.header_content h1{
		font-size: 32px;
	}

	.header_content p{
		font-size: 14px;
	}

	.team_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 51%;
		flex: 0 0 51%;
	}

	.clients_image{
		width: 75px;
		height: 75px;
	}

	.hire_us_container form{
		width: 300px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.services_container{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;		
	}

	.services_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 55%;
		flex: 0 0 55%;
	    margin-bottom: 30px;		
	}

	.team_container{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;		
	}	

	.team_item{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 55%;
		flex: 0 0 55%;
	    margin-bottom: 15px;
	}

	.contact_container form textarea{
		margin-top: 0;
	}

	.form_inputs{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.form_inputs input{
		width: 100%;
		margin-bottom: 25px;
	}

	.clients{
		padding: 45px 0;
	}

	.form_submit{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.form_icons{
		margin-top: 40px;
	}

	.form_submit input{
		width: 40%;
	}	

	.section_header h2, .section_header p{
		width: 100%;
	}

	.work_item{
		margin: 10px 0;
	}

	.hire_us_container{
		width: 320px;
		padding: 20px 10px;
	}

	.podrt_descr{
		max-width: 350px;
	}

	.modal-box-content button{
		left: 310px;
	}

	.modal-box-content_image{
		height: 200px;
		overflow: hidden;
	} 

	.menu{
		height: 100vh;
		
	}

}

@media only screen and (max-width : 400px) {
	.hire_us{
		width: 100%;
	}

	.sb{
		left: 0;
	}

	.work_item_image{
		width: 250px;
		height: 250px;
	}

	.work_item_description{
		width: 250px;
		height: 250px;		
	}

	.newsletter_container form{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center; 
	}

	.newsletter_container form input[type="email"]{
		width: 100%;
		margin-bottom: 30px;
	}

	.newsletter_container form input[type="submit"]{
		width: 150px;
	}	

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}