header {
  width: 100%;
  height: auto;
  background-color: #222; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.margin {
  margin: 0; }

.section-overlay {
  padding: 50px 15px; }

.header_top_logo {
  text-transform: uppercase;
  margin-left: 15px; }
  .header_top_logo h3 {
    margin-bottom: 0;
    font-weight: 400; }

.top-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

nav ul, .header-icons ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

nav ul li {
  display: inline-block;
  margin-right: 20px; }

nav ul li a {
  text-decoration: none;
  color: #fff; }
nav ul li a:hover {
  background-color: #09AE8E; }

.header-logo span {
  margin-left: 15px;
  color: #555; }

.header-logo span:before {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  color: #555; }

.header-logo, .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px; }

.top {
  width: 100%;
  position: relative; }

.top:before {
  display: block;
  top: 0;
  left: 0;
  content: "";
  background-color: #222;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  height: 100%; }

.top, .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-wrapper {
  height: 350px;
  margin-top: 100px; }

.header-icons {
  margin-top: 50px; }
  .header-icons ul li {
    display: inline-block;
    margin: 0 5px; }
    .header-icons ul li a {
      font-size: 20px; }
      .header-icons ul li a svg {
        color: #fff;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
      .header-icons ul li a svg:hover {
        color: #fff; }

.header-content {
  color: #fff;
  text-align: center; }
  .header-content h1 {
    font-size: 44px;
    margin-bottom: 10px; }
    .header-content h1 span {
      font-weight: 600; }

.header-content h1, .header-content p {
  font-weight: 300;
  letter-spacing: 1px; }

section {
  height: auto;
  width: 100%; }

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px; }

.section-header {
  text-align: center;
  width: 800px; }
  .section-header h3 {
    font-weight: 700;
    font-size: 24px;
    color: #09AE8E;
    text-transform: uppercase;
    margin-bottom: 0; }
  .section-header p {
    font-weight: 600; }
  .section-header img {
    margin: 15px 0; }

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 33.3%;
  margin-bottom: 20px; }

.features-image {
  margin-right: 20px; }

.features-description h4 {
  font-size: 18px; }

.container-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container-box .box {
  position: relative;
  width: calc(350px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; }

.container-box .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 1; }

.container-box .box:hover .icon {
  top: 20px;
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.container-box .box .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 70px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff; }

.container-box .box:hover .icon svg {
  font-size: 40px; }

.container-box .box .content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0; }

.container-box .box:hover .content {
  top: 100px;
  opacity: 1; }

.container-box .box .content p, .container .box .content h3 {
  margin: 0;
  padding: 0;
  color: #fff; }

.container-box .box .content h3 {
  margin: 0 0 10px;
  font-size: 20px; }

.container-box .box .icon {
  background: #09AE8E; }

.container-box .box {
  background: #24C9A9; }

.portfolio-outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.portfolio-menu {
  width: 50%;
  margin-bottom: 30px; }
  .portfolio-menu ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none; }
    .portfolio-menu ul li button {
      padding: 6px 15px;
      text-decoration: none;
      font-weight: 700;
      color: #000;
      border-radius: 3px;
      background-color: #fff;
      outline: none;
      border: none;
      cursor: pointer;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
    .portfolio-menu ul li button:hover {
      background-color: #09AE8E;
      color: #fff; }

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.portfolio-wrapper {
  background-color: #09AE8E;
  position: relative;
  width: 25%;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  .portfolio-wrapper .portfolio-img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.portfolio-wrapper:hover .portfolio-img {
  opacity: 0.3; }
.portfolio-wrapper:hover .portfolio-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio-description {
  text-align: center;
  z-index: 999;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff; }
  .portfolio-description h6 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px; }
  .portfolio-description p {
    font-size: 13px; }
  .portfolio-description img {
    width: 30px;
    height: auto;
    margin-bottom: 20px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }

.portfolio-description img:hover {
  cursor: pointer; }

.team {
  position: relative; }

.team:before {
  top: 0;
  left: 0;
  display: block;
  content: "";
  background-color: #fff;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  position: absolute; }

.team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.team-container {
  text-align: center;
  width: 250px; }
  .team-container .team-wrapper {
    background-color: #09AE8E;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .team-container .team-wrapper img {
      width: 100%;
      height: 220px;
      object-fit: cover; }
    .team-container .team-wrapper .team-description {
      z-index: 999;
      display: none;
      position: absolute;
      padding: 20px;
      color: #fff; }
      .team-container .team-wrapper .team-description p {
        font-size: 12px;
        font-weight: 400; }
      .team-container .team-wrapper .team-description ul {
        list-style-type: none;
        margin-left: 0;
        margin-top: 40px;
        padding: 0; }
      .team-container .team-wrapper .team-description ul li {
        display: inline-block;
        width: 40px;
        height: 40px; }
      .team-container .team-wrapper .team-description ul li a {
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40px;
        color: #fff;
        background-color: #444; }
      .team-container .team-wrapper .team-description ul li a svg {
        font-size: 18px; }
  .team-container h5 {
    font-size: 16px;
    margin: 5px 0; }
  .team-container p {
    font-size: 12px; }

.team-wrapper:hover img {
  opacity: 0.3; }
.team-wrapper:hover .team-description {
  display: block; }

.facts {
  position: relative; }

.facts:before {
  top: 0;
  left: 0;
  display: block;
  content: "";
  background-color: #222;
  height: 100%;
  opacity: 0.8;
  width: 100%;
  position: absolute; }

.facts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.facts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  width: 25%; }
  .facts-item h2 {
    font-size: 34px;
    letter-spacing: 1px; }
  .facts-item p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px; }
  .facts-item img {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%; }

.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.blog-item {
  width: 25%;
  position: relative;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .blog-item .blog-image {
    width: 100%;
    height: calc(100vw / 4 - 4.245px); }
    .blog-item .blog-image img {
      width: 100%;
      height: calc(100vw / 4 - 4.245px); }
  .blog-item .blog-description {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%; }
    .blog-item .blog-description p {
      text-align: justify; }
    .blog-item .blog-description .blog-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .blog-item .blog-description .blog-bottom h5 {
        font-size: 26px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 300; }
      .blog-item .blog-description .blog-bottom p {
        text-align: center; }
    .blog-item .blog-description a {
      color: #fff;
      background-color: #09AE8E;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px; }

.blog-item:hover img {
  opacity: 0.1; }
.blog-item:hover .blog-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact {
  position: relative; }

.contact:before {
  display: block;
  top: 0;
  left: 0;
  content: "";
  background-color: #FFf;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  height: 100%; }

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.contact-form, .contact-map {
  width: 50%; }

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px; }
  .contact-form form input, .contact-form form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #09AE8E;
    margin-bottom: 15px;
    padding-left: 15px;
    font-weight: 600; }
  .contact-form form input {
    height: 50px; }
  .contact-form form textarea {
    height: 150px;
    resize: none; }
  .contact-form form input[type="submit"] {
    background: #09AE8E;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0; }
  .contact-form form input::placeholder, .contact-form form textarea::placeholder {
    color: #09AE8E;
    opacity: 1; }
  .contact-form form input:-ms-input-placeholder, .contact-form form textarea:-ms-input-placeholder {
    color: #09AE8E; }
  .contact-form form input::-ms-input-placeholder, .contact-form form textarea::-ms-input-placeholder {
    color: #09AE8E; }

.contact-map {
  padding: 50px; }
  .contact-map iframe {
    width: 100%;
    height: 100%; }

textarea::-webkit-scrollbar {
  width: 14px; }

textarea::-webkit-scrollbar-track, ::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px; }

textarea::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(9, 174, 142, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

textarea::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(9, 174, 142, 0.4); }

footer {
  background: #222;
  height: 100px; }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px; }

.footer-icons {
  width: 200px; }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; }
  .footer-links li {
    display: inline-block; }
    .footer-links li a {
      font-size: 18px;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #75B4AA;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.podrt_descr {
  background-color: #fff;
  max-width: 480px;
  margin: auto;
  z-index: 1000000; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    font-size: 22px;
    color: #485563;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 15px;
    padding: 10px 20px 0 20px; }
  .podrt_descr p {
    margin-top: 0;
    font-size: 14px; }
  .podrt_descr img {
    width: 100%;
    height: auto; }

.modal-box-content {
  padding-bottom: 20px;
  z-index: 1000000; }

.modal-box-content button {
  position: relative;
  top: 0;
  left: 440px; }

/*# sourceMappingURL=main.css.map */
