/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.features-wrapper{
		flex-wrap: wrap;
	}

	.features-container{
		flex: 0 0 45%;
	}

	.team-items{
		flex-wrap: wrap;
	}

	.team-container{
		width: 250px;
	}

	.portfolio-menu{
		width: 60%;
	}

	.blog-item{
		width: 50%;
	}

	.blog-item .blog-image, .blog-item .blog-image img{
		height: calc(100vw / 2 - 8.49px);
	}
}

@media only screen and (max-width : 768px) {

	.features-container{
		flex: 0 0 90%;
	}

	.blog-wrapper{
		flex-wrap: wrap;
	}

	.blog-item{
		flex: 0 0 50%;
	}

	.portfolio-menu{
		width: 80%;
	}

	.portfolio-container{
		flex-wrap: wrap;
	}

	.portfolio-wrapper{
		flex: 0 0 50%;
	}

	.facts-wrapper{
		flex-wrap: wrap;
		
	}

	.facts-item{
		flex: 0 0 50%;
		margin-bottom: 20px;
	}

	.contact-form form, .contact-map{
		padding: 20px;
	}

	.team-items{
		flex-wrap: wrap;
	}

}

@media only screen and (max-width : 576px) {

	.features-wrapper{
		flex-wrap: wrap;
	}

	.portfolio-menu{
		width: 100%;
	}

	.facts-item h2{
		font-size: 34px;
	}

	.contact-wrapper{
		flex-direction: column;
	}

	.contact-form , .contact-map{
		width: 100%;
	}

	.contact-map{
		height: 300px;
	}

	.team-items{
		flex-wrap: wrap;
	}

	.team-container{
		margin-bottom: 20px;
	}	

	.portfolio-menu ul{
		flex-direction: column;
		align-items: center;
	}	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.blog-item .blog-image, .blog-item .blog-image img{
		height: calc(100vw - 17.98px);
	}

	.blog-item{
		flex: 0 0 100%;
	}

	.facts-item{
		flex: 0 0 70%;
		margin-bottom: 30px;
	}

	.team-container{
		margin-bottom: 20px;

	}

	.features-container{
		flex: 0 0 100%;
	}

	.blog-item .blog-image{
		height: calc(100vw - 17.98px);
	}

	.portfolio-wrapper{
		flex: 0 0 100%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.features-container{
		flex-direction: column;
		align-items: center;
	}

	.features-image{
		margin-bottom: 20px;
		margin-right: 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.features-description{
		text-align: center;
	}

	.portfolio-wrapper{
		flex: 0 0 100%;
	}

	.team-container{
		flex: 0 0 90%;
	}	

	.team-container .team-wrapper .team-description ul{
		margin-top: 20px;
	}

	.contact-form form, .contact-map{
		padding: 5px;
	}	

	.footer-icons{
		width: 180px;
	}

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}