body {
  font-family: "Raleway", sans-serif; }

header {
  background-image: url(../img/head-bg.jpg);
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  position: absolute;
  top: 20px;
  left: 20px; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-title {
  color: #fff;
  width: 600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-title h2 {
  font-size: 24px;
  font-weight: 700; }

.header-title p {
  font-size: 12px;
  font-weight: 300; }

.header-button {
  height: 35px;
  margin-top: 35px; }

.header-button a {
  height: 35px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500; }

.header-button a:hover, .down-button a:hover, .footer-icons nav ul li:hover {
  border: none;
  background-color: #fff;
  color: #000; }

.footer-icons nav ul li a:hover {
  background-color: #fff;
  color: #485563;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow: inset 0 0 2px black; }

.team-icons nav ul li a:hover {
  background-color: #C5C9CC;
  color: #222;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow: inset 0 0 2px black; }

.pricing-button a:hover {
  background-color: #fff;
  color: #485563;
  border: 1px solid #485563; }

.team-button a:hover {
  background-color: #fff;
  color: #485563; }

input[type="submit"]:hover {
  background-color: #fff;
  color: #485563; }

.down-button {
  display: block;
  width: 40px;
  height: 40px;
  top: 20vh;
  position: relative; }

.down-button a {
  width: 40px;
  height: 40px;
  font-size: 36px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-top: 3px; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.section-header {
  text-align: center;
  margin: 75px 0; }

.section-header h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px; }

.section-header p {
  font-size: 12px; }

.section-header hr {
  width: 30px;
  border: 1px solid #fff; }

.dark-header {
  color: #485563; }

.dark-header hr {
  border: 1px solid #485563; }

.light-header {
  color: #fff; }

.services {
  background-color: #f5f5f5;
  height: 500px; }

.single-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.service-description {
  margin-top: 30px; }

.service-description h5 {
  font-size: 14px;
  font-weight: 700; }

.service-description p {
  font-size: 12px; }

.service-icon {
  width: 90px;
  height: 90px;
  background: -webkit-radial-gradient(#5E6A77 0%, #44505D 100%);
  background: -o-radial-gradient(#5E6A77 0%, #44505D 100%);
  background: radial-gradient(#5E6A77 0%, #44505D 100%);
  color: #fff;
  border-radius: 50%;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.service-description h5 {
  text-transform: uppercase; }

.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    font-size: 22px;
    color: #485563;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 25px; }
  .podrt_descr p {
    margin-top: 0;
    font-size: 14px; }
  .podrt_descr img {
    width: 100%; }

.modal-box-content {
  padding-bottom: 20px; }

.modal-box-content button {
  position: relative;
  top: 0;
  left: 460px; }

.portfolio-wrapper {
  padding: 0;
  background-color: #485563;
  position: relative; }

.portfolio-item img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease; }

.portfolio-wrapper:hover .portfolio-item img {
  opacity: 0.3;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease; }

.portfolio-icon {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease; }

.portfolio-icon h4 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff; }

.portfolio-icon svg {
  font-size: 40px;
  -webkit-text-stroke: 4px red; }

.portfolio-wrapper:hover .portfolio-icon {
  z-index: 9999;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease; }

.portfolio-link {
  color: #fff;
  height: 40px; }

.portfolio-link:hover {
  color: #fff; }

.portfolio-button a {
  display: block;
  font-size: 12px;
  width: 40%;
  height: 40px;
  min-width: 100px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 20px;
  margin-left: 30%; }

.testimonials {
  height: 550px;
  text-align: center; }

.item .testimonials-description .testimonials-image img {
  width: auto;
  height: 50px;
  border-radius: 25px; }

.testimonials-wrapper {
  padding: 0 50px; }

.testimonials-image {
  margin-bottom: 6px; }

.testimonials-description {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.testimonials-description h6 {
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-bottom: 3px; }

.testimonials-description p {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px; }

.testimonials-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff; }

.owl-theme .owl-dots .owl-dot {
  outline: none; }

.owl-theme .owl-dots .owl-dot.active {
  outline: none; }

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #222; }

.owl-theme .owl-dots .owl-dot.active span:hover {
  background-color: #222; }

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #222;
  background-color: #fff;
  height: 15px;
  width: 15px; }

.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #222; }

.team {
  background-image: url(../img/team-bg.jpg);
  min-height: 750px; }

.team-outer-wrapper {
  width: 100%;
  height: 100%;
  background-color: #79818A; }

.team-member {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team-image {
  width: 90%;
  height: auto; }

.team-image img {
  height: auto;
  width: 100%; }

.team-description {
  background-color: #C5C9CC;
  opacity: 0.9;
  width: 90%;
  text-align: center;
  padding: 25px 0; }

.team-description h5 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 2px; }

.team-description p {
  font-size: 12px;
  font-weight: 500; }

.team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-icons nav ul {
  margin-bottom: 0;
  padding-left: 0; }

.team-icons nav ul li {
  display: inline-block;
  height: 27px;
  width: 27px; }

.team-icons nav ul li a {
  margin-top: 1px;
  background-color: #333;
  display: inline-block;
  height: 25px;
  width: 25px;
  font-size: 16px;
  color: lightgrey;
  border-radius: 50%; }

.team-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-button {
  height: 30px;
  margin-top: 20px; }

.team-button a {
  min-width: 40px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500; }

.clients {
  height: 150px;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.clients-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.pricing {
  height: 700px; }

.pricing-item {
  border: 1px solid rgba(72, 85, 99, 0.3);
  padding: 15px 0 30px 0;
  border-collapse: collapse;
  text-align: center;
  color: #485563;
  border-left-width: 0; }

.first-item {
  border-left-width: 1px; }

.pricing-header {
  border-bottom: 1px solid rgba(72, 85, 99, 0.3);
  padding: 20px 0; }

.pricing-header h5 {
  font-weight: 300;
  text-transform: uppercase; }

.pricing-header h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 2px; }

.pricing-header h6 {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase; }

.pricing-description {
  padding: 0 20px; }

.pricing-description ul {
  padding: 0;
  margin: 40px 0; }

.pricing-description ul li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px; }

.pricing-button {
  height: 30px;
  margin-top: 20px; }

.pricing-button a {
  min-width: 60px;
  height: 30px;
  color: #fff;
  background-color: #485563;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500; }

.contact {
  height: 500px; }

.contact-map {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.contact-map iframe {
  width: 100%;
  height: 100%; }

.contact-form {
  background-image: url(../img/form-bg.jpg);
  min-height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 60%; }

form label {
  width: 96%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

form label, form label input, form textarea {
  color: #fff;
  font-size: 12px; }

form label input, form label textarea {
  margin-left: 5%;
  width: 70%;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1px; }

form label span {
  min-width: 20%;
  display: inline-block; }

form label input {
  height: 35px;
  border-radius: 1px; }

input[type=submit] {
  outline: none;
  width: 100px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  height: 30px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 7px;
  padding: 0; }

form textarea {
  resize: none;
  height: 100px; }

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F5F5F5; }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.copyright-wrapper {
  font-size: 13px; }

.copyright-wrapper img {
  margin-right: 10px; }

.footer-icons span {
  font-size: 12px; }

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-icons nav ul {
  margin-bottom: 0; }

.footer-icons nav ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #485563;
  border-radius: 50%; }

.footer-icons nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%; }

.menu-container .menu-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 18px;
  right: 75px;
  z-index: 9999; }

.menu-container .menu {
  z-index: 9999;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 3px;
  background: #ffffff;
  cursor: pointer; }

.menu-container .menu:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  height: 3px;
  width: 35px;
  background: #ffffff;
  top: -8px; }

.menu-container .menu:after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  height: 3px;
  width: 35px;
  background: #ffffff;
  bottom: -8px; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -50px;
  width: 50%;
  margin-left: -25%;
  text-align: center; }

.overlay {
  z-index: 9998;
  position: absolute;
  bottom: -99%;
  height: 100%;
  background: #222;
  right: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none; }

.anim {
  display: block;
  bottom: 0;
  -webkit-animation: menu-anim 1.5s 1 ease-out normal;
  animation: menu-anim 1.5s 1 ease-out normal;
  width: 25%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.reverse-anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out reverse;
  width: 25%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.menu-container ul {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  padding-left: 0;
  font-size: 2em;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu-container ul li {
  margin: 0;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  padding: 0;
  overflow: hidden; }

.menu-container ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  font-size: 24px; }

.menu-container ul li:hover {
  background-color: #444; }

.menu-container ul li a:hover {
  text-decoration: none;
  color: #fff; }

.menu-container ul li:hover {
  text-decoration: none; }

.menu-container ul li:after {
  -webkit-animation: border-anim 0.5s 1 ease normal;
  animation: border-anim 0.5s 1 ease normal;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

/*# sourceMappingURL=main.css.map */
